h1{
    color:aqua;
    font-size:50px;
}
h2{
    font-size: 35px;
    color:red;
}
h3{
    font-size: 30px;
    color: blueviolet;
}
li{
    color: black;
}
a{
    color:black;
}
body{
    background-image: url("Fond/f.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
@keyframes{
    animation: name duration timing-function delay iteration-count direction fill-mode;
  }