p{
 color:blueviolet;
  font-family: Georgia, 'Times New Roman', Times, serif

}
.tata
{
  float: left;
  line-height: 1100%;
  background-color:navajowhite;
}
body{

  font-size:x-large;
  background-image:url("../Fond/fond1.JPG");
  background-repeat: no-repeat;
  background-size: cover;
}
h1{
  color: aqua;
}
i{
  color:fuchsia;
}
h2{
    color:salmon;
}
  a{
    color:rebeccapurple;
  }
  th{
    color: blue;
  }
  {
    border-width:30px;
    border-style: dashed; 
  }